@import 'variables', 'components/cards';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-bottom: 80px;
    background: $bg-color;
}

h1 {
    margin: 40px 0;
    font-family: 'PT Serif', serif;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: $heading-color;
}

.container {
    margin: 0 auto;
    max-width: 244px;
}

@media (min-width: 768px) {
    h1 {
        margin-top: 56px;
        font-size: 32px;
        line-height: 48px;
    }

    .container {
        max-width: 688px; 
    }
}

@media (min-width: 1150px) {
    h1 {
        margin-top: 72px;
        font-weight: bold;
        font-size: 40px;
        line-height: 56px;
    }

    .container {
        max-width: 1120px;
    }
}