$light-green-color: #5ECABF;
$light-green-shadow-color: #00645B;
$dark-green-color: #009688;
$dark-green-shadow-color: #006452;
$orange-color: #EE7E4A;
$orange-shadow-color: #642A00;
$nav-dots-color: #009688;

.cards .slick-slide > div {
    display: flex;
}

.cards .slick-slide {
    height: auto;
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 0 0 32px;
    height: 244px;
    width: 244px;
    border-radius: 8px;
    cursor: pointer;

    &_light-green {
        background-color: $light-green-color;
    }

    &_dark-green {
        background-color: $dark-green-color;
    }

    &_orange {
        background-color: $orange-color;
    }

    &_pattern_ellipse {
        background-image: url('../images/ellipse.png');
    }

    &_pattern_vertical-line {
        background-image: url('../images/vertical-line.png');
    }

    &_pattern_horizontal-line {
        background-image: url('../images/horizontal-line.png');
    }

    &::after {
        content: "";
        position: absolute;
        top: 16px;
        bottom: -16px;
        left: 16px;
        right: 16px;
        z-index: -1;
        border-radius: 8px;
        opacity: 0.3;
        filter: blur(8px);
    }

    &_light-green::after {
        background-color: $light-green-shadow-color;
    }

    &_dark-green::after {
        background-color: $dark-green-shadow-color;
    }

    &_orange::after {
        background-color: $orange-shadow-color;
    }

    &__title {
        display: flex;
        align-items: flex-end;
        padding: 0 32px 31px 32px;
        height: 176px;
        border-radius: 0 0 8px 8px;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0) 100%);
        font-family: 'Open Sans';
        font-weight: bold;
        color: #fff;
    }
}

.cards-nav {
    display: flex;
    justify-content: center;

    &__arrow-wrapper {
        display: none;
    }

    &__arrow {
        height: 48px;
        width: 48px;
        background-image: url('../images/cards-nav-arrow.png');
        opacity: 0.25;
        cursor: pointer;
        transition: opacity .3s;

        &:hover {
            opacity: 1;
        }
    }

    &__arrow_left {
        transform: rotate(180deg);
    }

    .slick-dots {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 0;
    }

    .slick-dots button {
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        height: 6px;
        width: 6px;
        border: none;
        border-radius: 50%;
        background-color: $nav-dots-color;
        opacity: 0.25;
        font-size: 0;
        cursor: pointer;
        transition: all .3s;

        &:focus {
            outline: none;
        }
    }

    .slick-dots .slick-active button,
    .slick-dots button:hover {
        opacity: 1;
        transform: scale(1.67);
    }
}

@media (max-width: 350px) {
    .cards .slick-list {
        margin-right: -48px;
        padding-right: 32px;
    }
}

@media (min-width: 351px) {
    .cards .slick-list,
    .cards .slick-slide > div {
        margin: 0 -8px;
    }

    .cards .slick-slide,
    .cards .slick-slide .card-wrapper {
        margin: 0 8px;
    }
}

@media (min-width: 768px) {
    .cards .slick-list,
    .cards .slick-slide > div {
        margin: 0 -16px;
    }

    .cards .slick-slide,
    .cards .slick-slide .card-wrapper {
        margin: 0 16px;
    }

    .card {
        width: 328px;
        height: 328px;

        &__title {
            font-size: 20px;
            line-height: 32px;
        }
    }

    .cards-nav {
        align-items: center;
        margin-top: -8px;


        &__arrow-wrapper {
            display: block;
        }

        &__dots {
            margin: 0 52px;
        }
    }
}

@media (min-width: 1150px) {
    .card {
        width: 352px;
        height: 352px;
    }
}